/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.tab_info h3 {
  color: #fff !important;
}
ul.social-icons li a:hover i {
  color: #dc4e53 !important;
}
html.firefox .bx-wrapper .bx-loading {
  display: none;
}

html.firefox .fl-content-slider .bx-wrapper .fl-slide {
  visibility: visible;
}

body {
  position: relative;
}

.product-detail-layout-6 .dual-button > a {
  border: 1px solid #767676 !important;
}

.fl-page {
  width: auto;
  overflow: hidden;
}

.gform_wrapper li.hidden_label input {
  margin-top: 0px !important;
}

.saleColumn .fl-rich-text > p {
  display: none !important;
}

.fl-content-full.container {
  margin: 0;
  padding: 0;
  width: auto;
  max-width: none;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li {
  margin-right: 10px;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li > a {
  text-transform: uppercase;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 15px;
}

.navbar .nav .menu-item-has-children > a:after {
  margin-top: 0;
  content: "\f107";
  font-size: 130%;
}

.footermenu .menu-item a {
  color: #fbfbfb;
  font-family: Roboto;
  font-size: 12px;
  line-height: 23px;
}

.fl-content-slider
  .fl-content-slider-wrapper
  .fl-slide-text-left
  .fl-slide-foreground {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 8;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.home-tab .fl-tabs-labels {
  background-color: #384e77;
}

.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text {
  float: left;
  font-size: 14px;
  width: 100%;
}

.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text span {
  float: left;
  font-weight: 600;
  letter-spacing: 0.47px;
  line-height: 16px;
  display: flex;
  color: #ffffff;
}

.fl-page-bar
  .fl-page-bar-container
  .fl-page-bar-row
  .fl-page-bar-text
  span
  .storename {
  margin-left: 10px;
}

.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text a {
  color: #fff;
}

ul.storename {
  padding: 0;
  list-style: none;
}

ul.storename a p,
ul.storename a span {
  color: #ffffff !important;
}

.fl-module-content-slider .bx-wrapper {
  margin: 0 auto 0px;
}

.bx-pager.bx-default-pager {
  z-index: 1;
  position: absolute;
  bottom: 10px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #ffffff;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: transparent;
  border: 1px solid #ffffff;
}

.fl-col-group .top-slider-bottom-image {
  margin-top: -60px;
}

.home-tab .fl-tabs-panels .fl-tabs-panel p:first-child {
  margin: 0px;
}

.home-tab .fl-tabs-panels .fl-tabs-panel .fl-tabs-panels-info h4.fl-cta-title {
  color: #ffffff;
  font-size: 44px;
  font-weight: 300;
  line-height: 28px;
}

.home-tab
  .fl-tabs-panels
  .fl-tabs-panel
  .fl-tabs-panels-info
  .fl-cta-text-content
  h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 61px;
  line-height: 60px;
}

.home-tab
  .fl-tabs-panels
  .fl-tabs-panel
  .fl-tabs-panels-info
  .fl-cta-text-content
  p {
  color: #ffffff;
  font-size: 15px;
  line-height: 24px;
  padding-top: 15px;
}

.home-page-second-slider .fl-slide-text-left .fl-slide-foreground {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-page-second-slider
  .fl-slide-text-left
  .fl-slide-foreground
  .fl-slide-photo-wrap {
  order: -1;
}

.home-page-second-slider
  .fl-content-slider-wrapper
  .fl-slide
  .fl-slide-foreground
  .fl-slide-content-wrap {
  float: right;
  margin: 100px auto;
}

.home-page-second-slider
  .fl-content-slider-wrapper
  .fl-slide
  .fl-slide-foreground
  .fl-slide-content-wrap
  .fl-slide-content {
  margin: 0;
  background: #ffffff;
  padding: 60px;
}

.home-page-second-slider
  .fl-content-slider-wrapper
  .fl-slide
  .fl-slide-foreground
  .fl-slide-content-wrap
  .fl-slide-content
  h2 {
  color: #323232;
  font-size: 29px;
  font-weight: 600;
  line-height: 28px;
}

.home-page-second-slider
  .fl-content-slider-wrapper
  .fl-slide
  .fl-slide-foreground
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  p:first-child {
  color: #000000;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
}

.home-page-second-slider
  .fl-content-slider-wrapper
  .fl-slide
  .fl-slide-foreground
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  .btn {
  border-radius: 3px;
  background-color: #384e77;
  color: #ffffff;
  font-family: "PT Sans Narrow";
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  padding: 17px 30px;
  text-align: center;
}

.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  h3 {
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.97px;
  line-height: 20px;
  margin-bottom: 0px !important;
}

.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  h1 {
  color: #ffffff;
  font-size: 51px;
  line-height: 60px;
  margin-bottom: 0px !important;
}

.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

.paint-stains-bottom-sec-info .fl-module-content {
  padding: 40px 52px 40px 60px;
  background: #ffffff;
}

.paint-stains-bottom-sec-info .fl-module-content .fl-rich-text p {
  color: #000000;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
}

.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  .btn {
  border-radius: 3px;
  background-color: #384e77;
  color: #ffffff;
  font-family: "PT Sans Narrow";
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  padding: 17px 30px;
  text-align: center;
}

.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  .btn:focus,
.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  .btn:hover {
  background: #efefef;
  color: #000000;
}

.slider-menu {
  display: none;
}

.home-tab .fl-tabs-horizontal .fl-tabs-labels {
  text-align: center;
}

.home-tab .fl-tabs-horizontal .fl-tabs-labels .fl-tabs-label {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.store-container > div {
  margin-bottom: 20px;
}

.gform_wrapper select {
  padding: 7px 0px !important;
  background-color: #fcfcfc;
  border: 1px solid #e6e6e6;
}

.fl-tabs-panel .fl-tab-active .fas:before {
  content: "\f068";
}

.active-gallery-modal .product-box .fl-button {
  padding: 8px 15px;
  display: block;
  text-align: center;
  max-width: 220px;
}

.gform_wrapper .gform_body .gform_fields .gfield_checkbox li input,
.gform_wrapper
  .gform_body
  .gform_fields
  .gfield_checkbox
  li
  input[type="checkbox"],
.gform_wrapper .gform_body .gform_fields .gfield_radio li input[type="radio"] {
  margin-top: 0 !important;
}

.gform_wrapper .gform_body .gform_fields .gfield .gfield_time_ampm select {
  width: auto !important;
  max-width: none !important;
}

.gform_wrapper
  .gform_body
  .gform_fields
  .gfield
  .ginput_container_date
  .datepicker {
  width: 100%;
}

.product-variations .slick-slider .slick-arrow {
  top: 25%;
}

.product-detail-layout-4 .button-wrapper,
.product-detail-layout-5 .button-wrapper {
  text-align: left;
}

.storename .direction a.fl-button {
  background: #384e77;
  border: 1px solid #384e77;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 200px;
  text-align: center;
}

.storename .direction a.fl-button:hover,
.storename .direction a.fl-button:focus,
.storename .direction a.fl-button:active {
  background: #fff;
  border-color: #fff;
  color: #384e77 !important;
}

.storename .direction a.fl-button:hover .button-text,
.storename .direction a.fl-button:focus .button-text,
.storename .direction a.fl-button:active .button-text {
  color: #384e77 !important;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #323232;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #384e77 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "PT Sans Narrow", sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #384e77 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #384e77 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "PT Sans Narrow", sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #000000 !important;
}

/* #wpadminbar{ display: none;} */
/* Media Queries */
@media (max-width: 1240px) {
  .fl-page-nav-right .fl-page-nav ul.navbar-nav > li {
    margin-right: 0;
  }

  .fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li > a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 1099px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .fl-page-bar .fl-page-bar-text {
    display: flex;
    justify-content: space-between;
  }

  .fl-page-bar .fl-page-bar-text .col-md-3,
  .fl-page-bar .fl-page-bar-text .col-md-5 {
    width: auto;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .header_banner > .fl-row-content-wrap {
    min-height: 400px !important;
  }

  .header_banner .fl-row-content,
  .fl-tabs-panel-content .fl-row-content {
    z-index: 2;
  }

  .header_banner > .fl-row-content-wrap:after {
    border-radius: inherit;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
}

@media (max-width: 999px) {
  .fl-page-nav-wrap {
    border: 0;
  }

  .fl-page-header.fl-page-header-fixed {
    display: none !important;
  }

  .fl-page-header .fl-page-header-logo-col {
    width: 100%;
  }

  .fl-page-header .fl-page-header-logo-col .fl-page-header-logo {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0;
  }
  .fl-col-small {
    max-width: 100%;
  }

  a.responsive-menu-item-link {
    color: #fff;
  }

  .open_sidebar,
  .close_sidebar_button {
    text-transform: uppercase;
  }

  /* PLP Page Css iPad Air */
  .open_sidebar {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .open_sidebar a {
    float: unset;
  }

  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
    max-width: 100%;
  }

  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }

  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }

  .open_sidebar {
    max-width: 160px;
    margin: 0 auto;
  }

  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }

  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    float: right;
    color: #fff;
    opacity: 1;
  }

  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }

  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }

  .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100% !important;
    text-align: center !important;
  }

  .product-detail-layout-6
    .product-box
    .row:first-child
    .col-md-6:nth-child(2) {
    width: 100% !important;
    text-align: center !important;
  }

  .product-detail-layout-6 .toggle-image-thumbnails {
    align-items: center !important;
    justify-content: center !important;
  }

  .facetwp-per-page select {
    border: 1px solid #000;
  }

  /* PLP Page Css iPad Air */

  .fl-tabs-panel-content .fl-col.fl-col-small {
    max-width: 100%;
  }

  .header_banner > .fl-row-content-wrap {
    min-height: 400px !important;
    padding: 20px 0 !important;
  }

  .header_banner .fl-row-content,
  .fl-tabs-panel-content .fl-row-content {
    z-index: 2;
  }

  .header_banner > .fl-row-content-wrap:after,
  .fl-tabs-panel-content > .fl-row-content-wrap:after {
    border-radius: inherit;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }

  .fl-page-content .uabb-module-content.uabb-dual-button.uabb-align-left {
    justify-content: center;
  }

  ul#menu-footer-menu {
    display: flex;
    flex-direction: column;
  }

  .fl-page-content .uabb-module-content.uabb-infobox.infobox-left,
  .fl-page-content .fl-module-heading .fl-heading,
  .fl-page-content .fl-rich-text,
  .fl-page-content .fl-rich-text *,
  .fl-page-content .review-wrap,
  .fl-page-content .fl-builder-content .fl-button-left,
  .fl-page-content .fl-cta-left *,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename *,
  .fl-page-content .fl-module-content ul.storename,
  .uabb-module-content.uabb-button-wrap {
    text-align: center !important;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul,
  .fl-page-content .fl-module-content .fl-rich-text ol,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol {
    margin: 0;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul *,
  .fl-page-content .fl-module-content .fl-rich-text ol *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol *,
  .fl-page-content .text_left_content .fl-rich-text *,
  .fl-page-content .text_left_content .fl-rich-text * {
    text-align: left !important;
  }
}

@media (max-width: 767px) {
  .fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text span {
    justify-content: center;
    float: none;
  }

  .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile
    .fl-page-header-logo {
    margin-right: 0;
    padding: 0 45px;
  }

  #djcustom-footer .menu {
    text-align: center;
    display: block;
  }

  #djcustom-footer .menu li {
    display: inline-block;
    vertical-align: top;
  }

  .home-tab
    .fl-tabs-panels
    .fl-tabs-panel
    .fl-tabs-panels-info
    .fl-cta-text-content
    h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .home-tab
    .fl-tabs-panels
    .fl-tabs-panel
    .fl-tabs-panels-info
    h4.fl-cta-title {
    font-size: 30px;
    line-break: 30px;
  }
}

@media (max-width: 699px) {
  .active-gallery-modal .product-box .fl-button {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

@media (max-width: 499px) {
  .fl-page-bar .fl-page-bar-text {
    flex-direction: column;
  }

  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100% !important;
    clear: left !important;
  }
}

.home-tab
  .fl-tabs-panels
  .fl-tabs-panel
  .fl-tabs-panels-info
  .fl-cta-text-content
  h3
  span {
  color: #ffffff;
  font-weight: 600;
  font-size: 61px !important;
  line-height: 60px;
}
